<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jplus.dao.NavUrlMapper" >
  <resultMap id="BaseResultMap" type="com.jplus.model.NavUrl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="n_name" property="nName" jdbcType="VARCHAR" />
    <result column="n_title" property="nTitle" jdbcType="VARCHAR" />
    <result column="n_url" property="nUrl" jdbcType="VARCHAR" />
    <result column="n_descriptions" property="nDescriptions" jdbcType="VARCHAR" />
  </resultMap>
  
    <!-- 
  		@author Chitry 
  		@title 网站导航信息表 数据库操作
  		@time  2015.07.22
  -->
  
  <sql id="Base_Column_List" >
    id, n_name, n_title, n_url, n_descriptions
  </sql>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from j_navurl
    where id = #{id,jdbcType=INTEGER}
  </select>
  
    <select id="selectAll" resultMap="BaseResultMap" >
    select id, n_name, n_title, n_url, n_descriptions
    from j_navurl
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from j_navurl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  
  <insert id="insert" parameterType="com.jplus.model.NavUrl" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into j_navurl (id, n_name, n_title, 
      n_url, n_descriptions)
    values (#{id,jdbcType=INTEGER}, #{nName,jdbcType=VARCHAR}, #{nTitle,jdbcType=VARCHAR}, 
      #{nUrl,jdbcType=VARCHAR}, #{nDescriptions,jdbcType=VARCHAR})
  </insert>
  
  
  <insert id="insertSelective" parameterType="com.jplus.model.NavUrl" >
    insert into j_navurl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="nName != null" >
        n_name,
      </if>
      <if test="nTitle != null" >
        n_title,
      </if>
      <if test="nUrl != null" >
        n_url,
      </if>
      <if test="nDescriptions != null" >
        n_descriptions,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="nName != null" >
        #{nName,jdbcType=VARCHAR},
      </if>
      <if test="nTitle != null" >
        #{nTitle,jdbcType=VARCHAR},
      </if>
      <if test="nUrl != null" >
        #{nUrl,jdbcType=VARCHAR},
      </if>
      <if test="nDescriptions != null" >
        #{nDescriptions,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.jplus.model.NavUrl" >
    update j_navurl
    <set >
      <if test="nName != null" >
        n_name = #{nName,jdbcType=VARCHAR},
      </if>
      <if test="nTitle != null" >
        n_title = #{nTitle,jdbcType=VARCHAR},
      </if>
      <if test="nUrl != null" >
        n_url = #{nUrl,jdbcType=VARCHAR},
      </if>
      <if test="nDescriptions != null" >
        n_descriptions = #{nDescriptions,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <update id="updateByPrimaryKey" parameterType="com.jplus.model.NavUrl" >
    update j_navurl
    set n_name = #{nName,jdbcType=VARCHAR},
      n_title = #{nTitle,jdbcType=VARCHAR},
      n_url = #{nUrl,jdbcType=VARCHAR},
      n_descriptions = #{nDescriptions,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>